@model IEnumerable<Sangha.Models.TalkModels.TalkListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Talk Directory</h2>

<p>
    @Html.ActionLink("Add New Talk", "Create")

    @using (Html.BeginForm("Index", "talk", FormMethod.Get))
    {
    <p>
        Search by Talk: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Filter" />
    </p>
}
    @*@using (Html.BeginForm("Index", "talk", FormMethod.Get))
        {
            <p>
                Search by Topic: @Html.TextBox("TopicSearch") <br />
                <input type="submit" value="Filter" />
            </p>
        }*@

    <table class="table">
        <tr>
            @*<th>
            @Html.DisplayNameFor(model => model.TalkId)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TalkLink)
            </th>
            <th>
                @Html.ActionLink("Favorite", "Index", new { sortOrder = ViewBag.IsStarred })
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Topic)*@
                @Html.ActionLink("Topic", "Index", new { sortOrder = ViewBag.TopicSort })
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Teacher)*@
                @Html.ActionLink("Teacher", "Index", new { sortOrder = ViewBag.TeacherSort })
            </th>
            <th>
                @*@Html.DisplayNameFor(model=>model.isGuided)*@
                @Html.ActionLink("Guided", "Index", new { sortOrder = ViewBag.IsGuided })
            </th>
            <th colspan="2">
                @*@Html.DisplayNameFor(model => model.TalkLength)*@
                @Html.ActionLink("Talk Length", "Index", new { sortOrder = ViewBag.TalkLength })
            </th>
            @*<th></th>*@
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.TalkId)
        </td>*@
        <td width="25%">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.TalkLink)*@
            <a class=" =btn btn-block" href=@item.TalkLink target="_blank">Listen</a>
        </td>
        <td class="starred">
            @Html.DisplayFor(modelItem => item.IsStarred, new {@class="starred", Id = item.TalkId})
        </td>
        <td width="20%">
            @Html.DisplayFor(modelItem => item.Topic)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.TeacherName)*@
            @Html.ActionLink(item.TeacherName, "Details","Teacher", new { id=item.TeacherId}, new { @class="action-links"})
        </td>
        <td class="guided">
            @Html.DisplayFor(modelItem => item.IsGuided)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.TalkLength)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.TalkId }) |
            @Html.ActionLink("Details", "Details", new { id = item.TalkId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.TalkId })
        </td>
    </tr>
        }
    </table>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>

    @section scripts {
        <script language="javascript" type="text/javascript">
     $(document).ready(function () {
         $("i[data-toggle='star']")
             .css({ "cursor": "pointer" })
             .click(function (e) {
                 var target = $(e.target);
                 var talkId = target.attr("data-id");
                 var starSet = target.hasClass("glyphicon-star");

                 $.ajax({
                     method: starSet ? "DELETE" : "PUT",
                     url: "/api/talk/" + talkId + "/star",
                     data: null
                 })
                 .done(function (r) {
                     target.removeClass();
                     target.addClass("glyphicon " + (starSet ? "glyphicon-star-empty" : "glyphicon-star"));
                 })
                 .fail(function (r) {
                     alert("Failed to change star status");
                 });
             });
     });
        </script>
    }