@model Sangha.Models.SitTrackerModels.SitTrackerDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    @*<h4>SitTrackerDetail</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SitId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SitId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SitDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SitLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SitLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SitLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SitLink)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
