@model Sangha.Models.TeacherModels.TeacherDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TeacherDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeacherId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeacherId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TalkId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TalkId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Topic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TalkLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TalkLength)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RetreatId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RetreatId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TeacherId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
